.digit {
	position: relative;
	width: 3.2rem;
	height: 5.2rem;
	margin: 0.2rem;
	box-sizing: border-box;
	flex-shrink: 0;
}

.segment {
	position: absolute;
	background-color: #2f0b05;
	border-radius: 0.2rem;
	transition: background-color 0.3s;
}

.segment.on {
	background-color: #d73c21;
}

.segment.a,
.segment.d,
.segment.g {
	width: 60%;
	height: 0.5rem;
	left: 20%;
}

.segment.b,
.segment.c,
.segment.e,
.segment.f {
	width: 0.5rem;
	height: 40%;
}

/* Konumlandırmalar */
.segment.a {
	top: 0;
}
.segment.g {
	top: 42%;
}
.segment.d {
	bottom: 0;
}

.segment.f {
	top: 5%;
	left: 0;
}
.segment.e {
	bottom: 5%;
	left: 0;
}
.segment.b {
	top: 5%;
	right: 0;
}
.segment.c {
	bottom: 5%;
	right: 0;
}

.colon {
	width: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 0.2rem;
	box-sizing: border-box;
}

.colon-dot {
	width: 0.6rem;
	height: 0.6rem;
	background-color: #d73c21;
	border-radius: 50%;
}

@media (max-width: 600px) {
	.digit {
		width: 2.5rem;
		height: 4rem;
		margin: 0.1rem;
	}

	.segment.a,
	.segment.d,
	.segment.g {
		height: 0.4rem;
	}

	.segment.b,
	.segment.c,
	.segment.e,
	.segment.f {
		width: 0.4rem;
	}
}

@media (min-width: 1750px) {
	.digit {
		width: 6rem;
		height: 10rem;
		margin: 0.4rem;
	}

	.segment.a,
	.segment.d,
	.segment.g {
		height: 1rem;
	}

	.segment.b,
	.segment.c,
	.segment.e,
	.segment.f {
		width: 1rem;
	}
}
